.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ui.dropdown .menu {
  background-color: #374151 !important;
}

.ui.dropdown > .text, .ui.dropdown .menu > .item {
  color: #fff !important;
}

.ui.menu .ui.dropdown .menu>.item{
  color: #fff !important;
}



.ui.dropdown .menu > .item:hover {
  background-color: #9ca3af !important;

}

.ui.selection.dropdown .menu>.item{
  border-top: 1px solid #334155 !important;
}


.ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover {
  border-color: #fff !important;
  color: #fff !important;
}
