@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414 !important;
  /* background-color: #fff !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.dividing.header{
  border-bottom-color: #fff !important;
}

.ui.menu .ui.dropdown .menu>.item{
  background-color: #374151 !important;

}

.ui.menu .ui.dropdown .menu>.item{
  color: #fff !important;
}

.ui.menu .ui.dropdown .menu>.item:hover{
  background-color: #64748b !important;
  color: #fff !important;

}

.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: rgba(191,191,191,.87) !important;
}

.ui.grid{
  display: flex !important;
}